/* styles.css or Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0 0;
    text-align: center;
}

.container-footer {
    max-width: 100%;
    padding: 0 20px;
    /* Add some padding for better spacing */
    box-sizing: border-box;
    /* Include padding in the width calculation */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    /* Allow columns to wrap on smaller screens */
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    padding: 0 10px;
    text-align: center;
}

.footer-column p {
    text-align: left;
}

.footer-column address {
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

.footer-column img {
    max-width: 100%;
}

.copyright {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    /* Adjust padding for better spacing */
    background-color: #FF5A11;
    text-align: center;
    /* Center align the copyright text */
}

/* Media Query for smaller screens (adjust breakpoints as needed) */
@media (max-width: 768px) {
    .footer-columns {
        flex-direction: column;
        /* Stack columns on smaller screens */
    }

    .footer-column {
        flex: 1;
        padding: 0;
        text-align: center;
    }

    .copyright {
        padding: 10px 20px;
        /* Adjust padding for better spacing on smaller screens */
    }
}