@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.slider__image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

.slider__content {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.slider__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    font-weight: bold;
    color: #F96F00;
}

.slider__subtitle {
    font-size: 16px;
}

.slider__controls {
    display: flex;
    justify-content: center;
}

.slider__prev,
.slider__next {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.slider__prev:hover,
.slider__next:hover {
    background-color: #dcdcdc;
}

/* Responsive styles */
@media (max-width: 768px) {
    .slider {
        width: 90%;
        /* Adjust width for smaller screens */
    }

    .slider__title {
        font-size: 24px;
        /* Adjust font size for smaller screens */
    }

    .slider__subtitle {
        font-size: 12px;
        /* Adjust font size for smaller screens */
    }

    .slider__controls {
        margin-top: 5px;
        /* Adjust margin for spacing */
    }

    .slider__prev,
    .slider__next {
        padding: 6px 12px;
        /* Adjust padding for smaller screens */
        font-size: 12px;
        /* Adjust font size for smaller screens */
    }
}